.jumbotron {
  padding-top: 6rem;
  background-image: url("images/bg-img.png");
  background-size: cover;
  background-attachment: fixed;
  font-weight: bold;
  background-position: 0 -100px;
  color: #000;
}

#projects {
  background-color: #eae6e6;
}
.hovered-card {
  transition: 0.3s;
}

.hovered-card:hover {
  transform: scale(1.1);
}

section {
  padding-top: 5rem;
}
