@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.jumbotron {
  font-family: "Poppins", sans-serif;
  padding-top: 6rem;
  background-image: url("images/bg-img.png");
  background-size: cover;
  background-attachment: fixed;
  font-weight: bold;
  background-position: 0 -100px;
  color: #2d2d2d;
}
#about {
  background-color: #baff39;
  justify-content: center;
}
#projects {
  background-color: #eae6e6;
}
.hovered-card {
  transition: 0.3s;
}
#skill {
  background-color: #baff39;
}
#contact {
  background-color: #eae6e6;
}
.hovered-card:hover {
  transform: scale(1.1);
}

section {
  padding-top: 5rem;
}

#preloader {
  background: #a8a7a7ee url(images/preloader.gif) no-repeat center center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}
.smaller-image {
  max-width: 33%;
  margin: 0 auto;
  height: auto;
}
